= form_for @tipp do |f|
	= f.number_field :tipp1, multiple:true
	= f.number_field :tipp2, multiple:true
	= f.number_field :tipp1, multiple:true
	= f.number_field :tipp2, multiple:true
	= f.submit "Create Tipp"