-if flash.notice
    %div{:id=>"Flash", :class=>"success"} #{flash.notice}
-if flash.alert
    %div{:id=>"Flash", :class=>"alert"} #{flash.alert}
.row
    .col-xs-1 &nbsp;
    .col-xs-10
        %select{:onchange=>"changeMatchday(this)"}
            -(1..34).each do |i|
                -if i==@currentMatchday.to_i
                    %option{:value=>"#{tipps_path(i)}", :selected=>true} Spieltag #{i}
                -else
                    %option{:value=>"#{tipps_path(i)}"} Spieltag #{i}

=form_for @tipp do |f|
    .row
        .col-xs-1 &nbsp;
        .col-xs-10
            %table{:border=>"1", :id=>"ContentTable", :width => "95%"}
                %tr{:align => 'center'}
                    %th{:align => 'centre'} Datum
                    %th Uhrzeit
                    %th Heim
                    %th Gast
                    %th Ergebnis
                    %th Tipp
                -@games.each do |game|
                    %tr
                        %td{:align => 'center'} #{game['date']}
                        %td{:align => 'center'} #{game['time']}
                        %td
                            =image_tag "#{game['Team1']['TeamIconUrl']}"
                            &nbsp;
                            ="#{game['Team1']['TeamName']}"
                        %td
                            =image_tag "#{game['Team2']['TeamIconUrl']}"
                            &nbsp;
                            ="#{game['Team2']['TeamName']}"
                        %td{:align => 'center', :class => game['class']}
                            -if game['MatchResults'][0]
                                game['MatchResults'][0]['PointTeam1']
                                &#58
                                game['MatchResults'][0]['PointTeam2']
                            -else
                                &nbsp;
                        %td{:align => 'center', :class => game['class']}
                            = f.hidden_field :spiel, :value=>game['MatchID'], multiple:true
                            -if game['active']
                                = f.text_field :tipp1, multiple:true, :value=>game['tipp1'], :pattern=>"[0-9]*", :title=>"max. 2-stellige Ergebnisse", :class=>"tippEntry", :onfocus => "$('.previousResults').hide();$('\##{game['MatchID']}').show();showLastResults(#{game['MatchID']})"
                            -else
                                = f.text_field :tipp1, multiple:true, :value=>game['tipp1'], :pattern=>"[0-9]*", :title=>"max. 2-stellige Ergebnisse", :class=>"tippEntry", :disabled=>true
                            &#58
                            -if game['active']
                                = f.text_field :tipp2, multiple:true, :value=>game['tipp2'], :pattern=>"[0-9]*", :title=>"max. 2-stellige Ergebnisse", :class=>"tippEntry", :onfocus => "showLastResults(#{game['MatchID']})"
                            -else
                                = f.text_field :tipp2, multiple:true, :value=>game['tipp2'], :pattern=>"[0-9]*", :title=>"max. 2-stellige Ergebnisse", :class=>"tippEntry", :disabled=>true
            =f.submit "speichern"
%div{:class => 'HeaderLastResults'} letzte Ergebnisse
-@games.each do |game|
    %div{:id => "#{game['MatchID']}", :class => "previousResults", :hidden => true}
        .row
            .col-xs-6
                -@previousGames[game['Team1']['TeamId']].each do |prev|
                    .row
                        .col-xs-2 &nbsp;
                        .col-xs-2 
                            ="#{prev[1]['date']}"
                        .col-xs-6
                            =image_tag prev[1]['icon1']
                            &nbsp;&#58&nbsp;
                            =image_tag prev[1]['icon2']
                            &nbsp;-&nbsp;
                            ="#{prev[1]['result1']} : #{prev[1]['result2']}"
                        .col-xs-2 &nbsp;
            .col-xs-6
                -@previousGames[game['Team2']['TeamId']].each do |prev|
                    .row
                        .col-xs-4 &nbsp;
                        .col-xs-2 
                            ="#{prev[1]['date']}"
                        .col-xs-6
                            =image_tag prev[1]['icon1']
                            &nbsp;&#58&nbsp;
                            =image_tag prev[1]['icon2']
                            &nbsp;-&nbsp;
                            ="#{prev[1]['result1']} : #{prev[1]['result2']}"