.row
	.col-xs-1 &nbsp;
	.col-xs-10{:class => 'text-right'}
		%select{:onchange=>"changeMatchday(this)"}
			-(1..34).each do |i|
				-if i==@currentMatchday.to_i
					%option{:value=>"#{overview_path(i)}", :selected=>true} Spieltag #{i}
				-else
					%option{:value=>"#{overview_path(i)}"} Spieltag #{i}
%br
.row
	.col-md-1 &nbsp;
	.col-xs-10
		%table{:border=>"0", :id=>"ContentTable", :width => "100%"}
			%tr
				%td{:class => "emptyOverviewCell"} &nbsp;
				-@games.each do |game|
					%td{:class=>"gameHeader"}
						=image_tag "#{game['Team1']['TeamIconUrl']}"
						&#58
						=image_tag "#{game['Team2']['TeamIconUrl']}"
						<br />
						-if game['MatchResults'][0]
							=game['MatchResults'][0]['PointsTeam1']
						&#58
						-if game['MatchResults'][0]
							=game['MatchResults'][0]['PointsTeam2']
				%td{:align => "center", :valign => 'bottom', :style => "padding:2px;padding-bottom:0px;"} Aktuell
				%td{:align => "center", :valign => 'bottom', :style => "padding:2px;padding-bottom:0px;"} Bisher
				%td{:align => "center", :valign => 'bottom', :style => "padding:2px;padding-bottom:0px;"} Gesamt
			-counter=0
			-@users.each do |user|
				-if user==current_user || @currentMatchday.to_i < 31
					-counter += 1
					%tr
						%td{:class=>"cell#{counter%2} userCol1"} 
							-if user.nickname != ""
								=user.nickname
							-else
								=user.username
						-total=0.0
						-@games.each do |game|
							-total+=game[user.id][2]
							%td{:class => "cell#{counter%2} #{game[user.id][1]}"} #{game[user.id][0]}
						-if total <= 0.0
							-total = 0.0
						%td{:class=>"cell#{counter%2} text-right"} #{number_with_delimiter(number_with_precision(total,precision: 2),separator: ",").to_s} €
						%td{:class=>"cell#{counter%2} text-right"} #{number_with_delimiter(number_with_precision(@resultPerUser[user.id],precision: 2),separator: ",").to_s} €
						%td{:class=>"cell#{counter%2} text-right"} #{number_with_delimiter(number_with_precision((total+@resultPerUser[user.id]),precision: 2),separator: ",").to_s} €
			



