= form_for @user do |f|
	= f.text_field :username, :placeholder => 'username'
	= f.text_field :first_name, :placeholder => 'Vorname'
	= f.text_field :last_name, :placeholder => 'Nachname'
	= f.password_field :password, :placeholder => 'Kennwort'
	= f.submit "Create User"