!!!
%html
  %head
    %title HGC
    = stylesheet_link_tag "bootstrap.min"
    = stylesheet_link_tag "HGC"
    = javascript_include_tag "application"
    = javascript_include_tag "HGC"
  %body
    .container
      .jumbotron{:style => "background-image: url(/img/green01_bg_tile.png);"}
        %div{:class => "row vertical-align"}
          %div{:class => "col-xs-1 text-center"}
            %img{:src => "/img/augeGottes.gif", :height => 25, :width => 17, :class => "visible-xs"}
            %img{:src => "/img/augeGottes.gif", :height => 50, :width => 35, :class => "visible-sm"}
            %img{:src => "/img/augeGottes.gif", :height => 60, :width => 42, :class => "visible-md visible-lg"}
          %div{:class => "col-xs-9 text-left"}
            %span{:class => "col-xs-10 visible-xs text-green", :style => "font-size:15px;font-weight:bold;"} Harti's Gartenclub
            %span{:class => "col-xs-10 visible-sm text-green", :style => "font-size:20px;font-weight:bold;"} Harti's Gartenclub
            %span{:class => "col-xs-10 visible-md visible-lg text-green", :style => "font-size:30px;font-weight:bold;"} Harti's Gartenclub
      .row
        .col-xs-10
          .row
            .col-xs-2 
              =link_to "Startseite", "/"
            .col-xs-2 
              =link_to "Tippübersicht", '/overviews'
            .col-xs-2
              -if current_user
                .col-xs-2 
                  =link_to "Tippen", '/tippen'
            .col-xs-2
              -if current_user
                .col-xs-2 
                  =link_to "Profil", '/user/edit'
            .col-xs-2
              -if current_user && (current_user.admin?)
                .col-xs-2 
                  =link_to "Admin", '/admin'
        - if current_user
          .col-xs-2
            %ul
              %li= current_user.username
              %li= link_to "ausloggen", logout_path, :method=>:delete
        - else
          .col-xs-2
            %ul
              %li &nbsp;
              %li= link_to "einloggen", login_path

      = yield